<!-- FEATURED ITEMS PAGE -->
<div class="featuredItems" ng-controller="MainCtrl">
	<h3>Featured Items</h3>
	<div class="row">
		<ul class="nav nav-tabs">
			<li ng-class="{active: filterSet('')}">
				<a href ng-click="setFilter('')">All</a>
			</li>
			<li ng-class="{active: filterSet('Modelfile')}">
				<a href ng-click="setFilter('Modelfile')">Modelfile</a>
			</li>
			<li ng-class="{active: filterSet('App')}">
				<a href ng-click="setFilter('App')">App</a>
			</li>
			<li ng-class="{active: filterSet('Account')}">
				<a href ng-click="setFilter('Account')">Account</a>
			</li>
		</ul>
	</div>

	<div ng-repeat="featuredItem in featuredItems | filter: getFilter()" class="col-md-4 featured">
		<h3>{{featuredItem.name}}</h3>
		<div class="row">
			<img class="profilePic" ng-src="{{featuredItem.profileImg}}">
			<p class="user">{{featuredItem.username}} - <span>{{featuredItem.publishDate | date}}</span></p>
		</div>
		<img class="image" ng-src="{{featuredItem.images[0]}}">
		<p>Type: {{featuredItem.type}}</p>
		<p>Tags:</p>
		<div class="col-md-4" ng-repeat="tag in featuredItem.tags">
			<p class="tag">{{tag}}</p>
		</div>
	</div>
</div>