body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p span {
	font-style: italic;
}

h3 a {
	color: black;
}

h3 a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
	list-style-type: none;
}

img.profilePic {
	max-width: 30px;
	border-radius: 100%;
	float: left;
	margin: 0 15px 10px 15px;
}

img.profilePicEdit {
	max-width: 30px;
	border-radius: 100%;
	margin: 10px 15px 10px 15px;
}

img.image {
	border: 0.5px solid gray;
	margin-bottom: 10px;
}

p.user {
	margin-top: 5px;
}

.tag {
	font-style: italic;
}

#tags {
	margin: 20px;
	font-style: italic;
}

.form-inline {
	margin: 20px;
}


.itemImage {
	width: 300px;
}

span.bold {
	font-weight: bold;
}

.backbtn {
	border-bottom: 1px solid rgba(220, 220, 220, 0.8);
}

button.back {
	margin-bottom: 20px;
}

.loginBtn {
	float: right;
}

